/* src/App.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Baloo 2', sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  button {
    background-color: #004b87;
    color: white;
    font-size: 1.2rem;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7cc8e8;
  }
  
  h1 {
    color: #004b87;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  select {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  