/* src/components/Histoire.css */

/* Container principal */
.histoire-container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: #004b87;
    margin-bottom: 30px; /* Un peu d'espace avant le texte */
  }
  
  .story-text {
    max-width: 800px;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px; /* Ajouter de l'espace sous le texte de l'histoire */
  }
  
  /* Bouton */
  button {
    background-color: #f0f0f0; /* Fond gris clair, comme pour les autres pages */
    color: #004b87;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: 2px solid #004b87; /* Bordure de la même couleur */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #004b87; /* Fond bleu foncé au survol */
    color: white; /* Texte blanc au survol */
  }
  