/* src/components/Objets.css */

/* Container principal */
.objets-container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: #004b87;
  }
  
  .objets-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Ajoute un espace entre les cartes */
    margin-top: 30px;
  }
  
  .objet-card {
    background-color: #f0f0f0;
    border: 2px solid #004b87;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .objet-card:hover {
    transform: scale(1.05); /* Agrandir légèrement la carte au survol */
  }
  
  .objet-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px; /* Ajoute un écart entre l'image et le texte */
  }
  
  h2 {
    font-size: 1.5rem;
    color: #004b87;
  }
  
  /* Justifier le texte sous chaque objet */
  p {
    font-size: 1rem;
    color: #333;
    text-align: justify; /* Texte justifié */
    margin-top: 10px;
  }
  
  /* Bouton de retour */
  .navigate-button {
    background-color: #004b87; /* Bleu foncé */
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
  }
  
  .navigate-button:hover {
    background-color: #003366; /* Légèrement plus foncé au survol */
  }
  